/* Reset and General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Archivo black", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    background-color:#001233;
    color: white;
    padding: 10px 0;
}

.header h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
    
}
.header h2{
    
    font-size: 1.5em;
    text-align: center;
}

.navbar {
    margin-top: 20px;
    text-align: center;
}

.navbar a {
    color: #a8dadc;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #83c5be;
}

/* Hero Section */
.hero {
    background-image: url('college.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    background-color: #1d3557;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #edf6f9;
}

/* Gallery Section */
.gallery {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.gallery h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.gallery-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-images img {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #001233;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}
.placement-section {
    text-align: center;
    padding: 20px;
}

.placement-section h1 {
    margin: 20px 0;
}

.placement-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.company {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.company img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.company p {
    margin: 5px 0;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.innovation-section {
    text-align: center;
    padding: 20px;
}

.innovation-section h1 {
    margin: 20px 0;
}

.innovation-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.innovation-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.innovation-item h3 {
    margin: 10px 0;
    color: #004080;
}

.innovation-item p {
    font-size: 20px;
    margin: 10px 0 0;
}